<div class="comment <%= comment_major.id %>">
  <p class="justify-text">
    <%= comment_major.content %>
  </p>

  <p class="info-subpanel">
    <%= 'Publicado el ' + comment_major.created_at.to_date.to_s + ' por ' %>
    <%= comment_major.user.complete_name if comment_major.user %>

    <% if user_signed_in? and (current_user == comment_major.user or current_user.admin? or @sub_admin) %>
      <span class="admin-subpanel">
        <%= link_to 'Editar', edit_major_comment_path(@commentable, comment_major) if current_user == comment_major.user %>
        <%= link_to 'Eliminar', major_comment_path(comment_major.commentable, comment_major),
                    method: :delete, remote: true, data: { confirm: '¿Está seguro?' } %>
      </span>
    <% end -%>
  </p>
</div>
