<div class="modal fade" id="request-section" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Solicitud de sección destacada</h4>
      </div>
      <div class="modal-body">
        <%= form_for :request_section, url: distinguished_sections_request_url do |f| %>
          <div class="row">
            <div class="form-group col-sm-6">
              <%= f.label :name, 'Nombre de la Sección', class: 'control-label' %>
              <%= f.text_field :name, class: 'form-control', required: true %>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-12">
              <%= f.label :description, 'Descripción', class: 'control-label' %>
              <%= f.text_area :description, class: 'form-control', required: true %>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-12">
              <%= f.label :reasons, 'Razones', class: 'control-label' %>
              <%= f.text_area :reasons, class: 'form-control', required: true %>
            </div>
          </div>

          <div class="center-align-space-around">
            <%= f.submit '¡Listo!', class: 'button-link button-large' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
