<h1>Créditos</h1>

<p class="justify-text">
  Primero, queremos agradecer a nuestros programadores: Tomás Günther,
  Fernando Martínez y Sebastián Salata. Sin ellos no podríamos haber sacado
  adelante este gran proyecto que busca ayudar a toda la comunidad de
  Ingeniería.
</p>
<p class="justify-text">
  Además queremos dar créditos a los autores de los logos, los cuales fueron
  obtenidos de "The Noun Project":
</p>

<div class="center-align">
  <table border="1" class="credits-table text-center">
    <tr>
      <td>
        <%= image_tag("noun_project/a.png", size: "70x70") %>
        <p>Ruler by Josh Deane</p>
      </td>
      <td>
        <%= image_tag("noun_project/b.png", size: "70x70") %>
        <p>Pickaxe by Luke Anthony Firth</p>
      </td>
      <td>
        <%= image_tag("noun_project/c.png", size: "70x70") %>
        <p>Biomass Energy by Isabel Gueren</p>
      </td>
      <td>
        <%= image_tag("noun_project/d.png", size: "70x70") %>
        <p>DNA by Darrin Higgins</p>
      </td>
    </tr>
    <tr>
      <td>
        <%= image_tag("noun_project/e.png", size: "70x70") %>
        <p>Crane by Chris Dawson</p>
      </td>
      <td>
        <%= image_tag("noun_project/f.png", size: "70x70") %>
        <p>Computer by Iconoci</p>
      </td>
      <td>
        <%= image_tag("noun_project/g.png", size: "70x70") %>
        <p>Construction by Wilson Joseph</p>
      </td>
      <td>
        <%= image_tag("noun_project/h.png", size: "70x70") %>
        <p>Transmission Tower by Olivier Guin</p>
      </td>
    </tr>
    <tr>
      <td>
        <%= image_tag("noun_project/i.png", size: "70x70") %>
        <p>Robot by Dylan Thompson</p>
      </td>
      <td>
        <%= image_tag("noun_project/j.png", size: "70x70") %>
        <p>Geode by Drue McCurdy</p>
      </td>
      <td>
        <%= image_tag("noun_project/k.png", size: "70x70") %>
        <p>Earth by Erin Standley</p>
      </td>
      <td>
        <%= image_tag("noun_project/l.png", size: "70x70") %>
        <p>Rock by Anuar Zhumaev</p>
      </td>
    </tr>
    <tr>
      <td>
        <%= image_tag("noun_project/m.png", size: "70x70") %>
        <p>Chemistry by Ben Markoch</p>
      </td>
      <td>
        <%= image_tag("noun_project/n.png", size: "70x70") %>
        <p>Pi by Mister Pixel</p>
      </td>
      <td>
        <%= image_tag("noun_project/o.png", size: "70x70") %>
        <p>Analysis by Christopher Holm-Hansen</p>
      </td>
    </tr>
  </table>
</div>
