<%= form_for @landing_photo do |f| %>
  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :title, 'Titulo', class: 'control-label' %>
      <%= f.text_field :title, class: 'form-control' %>
      <%= f.errors :title %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label :image, 'Imagen', class: 'control-label' %><br>
      <%= f.file_field :image, class: 'form-control' %>
      <%= f.errors :image %>
      <span class="hint">
        Debe pesar menos de 2MB.
      </span>
    </div>

    <div class="form-group col-sm-4 center-align flex-column">
      <%= f.label :pinned, '¿Pinned?', class: 'control-label' %><br>
      <%= f.check_box :pinned, class: 'star' %>
      <%= f.label :pinned, '.' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-12">
      <%= f.label :text, 'Texto', class: 'control-label' %>
      <%= f.text_area :text, class: 'form-control' %>
      <%= f.errors :text %>
    </div>
  </div>

  <div class="center-align">
    <%= f.submit '¡Listo!', class: 'button-link button-large' %>
  </div>
<% end %>
