<%= form_for @virtual_room do |f| %>
  <div class="row">
    <div class="form-group col-sm-7">
      <%= f.label :title, 'Título', class: 'control-label' %>
      <%= f.text_field :title, class: 'form-control', required: true %>
      <%= f.errors :title %>
    </div>

    <div class="form-group col-sm-offset-1 col-sm-4">
      <%= f.label :date, '¿Cuándo será?', class: 'control-label' %>
      <%= f.text_field :date, class: 'datepicker form-control', required: true %>
      <%= f.errors :date %>
    </div>
  </div>

  <div class="row center-align">
    <div class="form-group col-sm-12">
      <%= f.label :description, 'Descripción', class: 'control-label' %>
      <%= f.text_area :description, class: 'form-control', required: true %>
      <%= f.errors :description %>
    </div>
  </div>

  <% unless (@distinguished_sections.nil? || @distinguished_sections.first.nil?) %>
    <div class="row">
      <div class="form-group">
        <fieldset>
          <legend>
            <%= label :distinguished_section_id, 'Añadir a sección destacada:' %>
          </legend>
          <div class="center-align-space-around">
            <% @distinguished_sections.each do |distinguished_section| %>
              <div class="flex-column center-align">
                <input type="radio" name="virtual_room[distinguished_section_id]" value="<%=distinguished_section.id%>" >
                <p><%= distinguished_section.name %></p>
              </div>
            <% end %>
            <div class="flex-column center-align">
              <input type="radio" name="virtual_room[distinguished_section_id]" value="0" >
              <p>No añadir</p>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :tags, 'Tags' %>
    <%= render partial: 'tags/tag_accordion',
               locals: { name: 'virtual_room[tag_ids][]', id: 'virtual_room_tag_ids_' } %>
  </div>

  <div class="row center-align">
    <div class="col-sm-6">
      <fieldset>
        <legend>Generador del link</legend>

        <div class="center-align flex-column">
          <ol>
            <li>Cierra sesión en Google.</li>
            <li>Inicia sesión en Google <strong>con tu mail @uc</strong>.</li>
            <li>Haz clic en el botón 'Iniciar'</li>
            <li><strong>Espera</strong> a que la ventana emergente muestre tu
                cara en una videollamada, o entregue un link para compartir.</li>
            <li>Copia el link y pégalo en la casilla siguiente.</li>
          </ol>

          <div class="g-hangout" data-render="createhangout"></div>
        </div>

        <div class="form-group">
          <%= f.label :link, 'Link generado', class: 'control-label' %>
          <%= f.text_field :link, class: 'form-control', required: true %>
          <%= f.errors :link %>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="form-group center-align">
    <%= f.submit '¡Listo!', class: 'button-link button-large' %>
  </div>
<% end %>

<script >
  window.___gcfg = {
    lang: 'es-ES',
    parsetags: 'onload'
  };
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
