<p><%= "¡Hola #{@resource.email}!" %></p>

<p><%= "Alguien ha solicitado un cambio de contraseña, por favor acceda al siguiente link." %></p>

<p><%= link_to "Cambiar mi contraseña",
               edit_password_url(@resource,
                                 reset_password_token: @token,
                                 locale: I18n.locale) %></p>

<p><%= "Si no solicitó esto, por favor ignore este correo." %></p>
<p><%= "Su contraseña no cambiará hasta que acceda al enlace de arriba." %></p>
